# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*pyc

# Virtual environments
.env
*.env
venv/
.venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Poetry
poetry.lock

# Docker
*.pid
*.seed
*.pid.lock
logs/
tmp/

# Ignorar certificados mTLS (Sicredi)
app/certs/*.pem
certs/
*.key
*.crt
*.pem

/app/certificados/
# Ignorar arquivos de configuração do Docker